@import "../Global.scss";

.client {
  margin: 10px;
  background-color: $bg-sections;
  border: 1px solid $border-sections;
  padding: 10px 0;
  &__table {
    padding: 20px 10px 10px;
    font-size: 1.3rem;
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid $border-sections;
    p {
      padding: 5px 0;
      text-align: center;
    }
    a {
      color: blue;
      font-size: 1.6rem;
      text-align: center;
      display: block;
      padding: 10px;
      margin: 0 auto;
      text-decoration: none;
    }
    .edit {
      width: 40px;
    }

    h4:last-child {
      text-align: center;
    }
  }
  &__table:first-child {
    display: none;
  }
}

@media (min-width: 1100px) {
  .client__table {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    width: auto;

    p,
    a {
      text-align: initial;
      margin: 0;
      padding: 10px;
    }

    p {
      font-size: 1.3rem;
    }

    .edit {
      margin: 0 auto;
    }

    h4 {
      padding: 10px;
    }
  }

  .client__table:first-child {
    display: grid;
  }
}
