@import "../Global.scss";

.clientDetail {
  margin: 20px;
  background-color: #fffffd;
  // padding: 20px 0;
  display: grid;
  grid-template-rows: 55px 45px;
  grid-auto-rows: auto;
  border: 1px solid $border-sections;
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border: 1px solid $border-sections;
  }
  &__title {
    color: $gray;
    h3 {
      padding: 0;
    }
  }
  &__client-container {
    font-size: 1.4rem;
    a {
      text-decoration: none;
      color: #00bcd4;
      span {
        padding-left: 10px;
      }
    }
  }
  .clientDetail__item {
    display: initial;
    padding: 10px 20px;
    * {
      font-size: initial;
      list-style: initial;
      tab-size: initial;
    }
    ul,
    ol {
      padding: 10px 20px;
    }
  }
}
