@import "../Global.scss";

.contacts {
  margin: 10px;
  background-color: $bg-sections;
  border: 1px solid $border-sections;
  padding: 10px 0;
  &__table {
    padding: 20px 10px 10px;
    font-size: 1.3rem;
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid $border-sections;
    p {
      padding: 5px 0;
      font-size: 1.6rem;
    }
    a {
      color: blue;
      font-size: 1.6rem;
      text-align: center;
      display: block;
      padding: 10px;
      width: 40px;
      margin: 0 auto;
    }
  }
  &__table:first-child {
    display: none;
  }
}

@media (min-width: 1100px) {
  .contacts__table {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 2fr 0.5fr repeat(2, 1fr) repeat(
        2,
        0.5fr
      );
    width: auto;

    h4 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1.3rem;
    }

    h4:last-child {
      text-align: center;
    }
  }

  .contacts__table:first-child {
    display: grid;
  }
}
